body{
    display: flex;
    background-color: #41536b;
    flex-direction: column;
}

header{
    background-color: white;
    display: flex;
}

#left-header{
    background-color: yellow;
    
}

#right-header{
    background-color: blue;
    
}

#main-section{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 80%;
    /*for now*/
}

#center{
    background-color: red;
    text-align: center;
    width: 20%;
}