<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link href="../../css/main.css">
        <!--<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>-->
        <script defer type="text/javascript" src="http://localhost:3000/frontend.js"></script>
        <script defer type="text/javascript" src="http://localhost:3000/main.js"></script>
    </head>
    <body>
        <form>
            <fieldset>
                <label>user</label>
                <input type="text" id="user" name="user">
                <label>tag</label>
                <input type="text" id="tag" name="tag">
                <button type="submit" id="loginButton">LOGIN</button> 
            </fieldset>
        </form>
    </body>
</html>